.about__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.about__photo {
  padding-top: 30px;
}

.about__photo-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin-bottom: 0;
  }
}

.about__biography {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    margin: 10px 0;
    color: $color-cobalt;

    &:hover,
    &:focus-within {
      color: $color-hollywood-cerise;
    }
  }

  .about__link {
    color: $color-default-black;
  }
}
