
.footer {
  background-color: $color-white-smoke;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__social {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  justify-self: center;
  width: 100%;

  @include vp-1023 {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 524px;
  margin: 0 auto;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @include vp-1023 {
    justify-content: space-around;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.footer__list-item {
  @include vp-1023 {
    width: 100%;
  }

  a {
    position: relative;
    display: flex;
    padding: 10px 30px;
    font-size: 18px;
    line-height: 150%;
    font-weight: 700;
    justify-content: center;
    align-items: center;

    @include vp-1023 {
      font-size: 16px;
      width: 100%;
    }

    @include vp-767 {
      font-size: 14px;
    }

    &:hover,
    &:focus-within {
      color: $color-hollywood-cerise;
    }
  }

  svg {
    width: 32px;
    height: 32px;
  }
}
