.header {
  background: $color-alice-blue;
  box-shadow: 0 4px 4px $color-transparent-2;
  position: sticky;
  top: 0;
  z-index: 100;

  @include vp-767 {
    position: relative;
    box-shadow: none;
  }
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include vp-767 {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
}

.header__logo {
  min-width: 70px;
  margin: 0 20px 0 0;

  @include vp-1023 {
    min-width: 38px;
    margin: 0 10px 0 0;
  }

  @include vp-767 {
    margin-bottom: 10px;
  }

  a {
    display: block;
    width: 250px;

    @include vp-1023 {
      width: 180px;
    }

    @include vp-767 {
      width: 250px;
      margin: 0;
    }
  }
}

.header__nav {
  display: flex;

  @include vp-767 {
    justify-content: flex-end;
  }
}

.header__nav-toggle {
  display: none;
  position: relative;
  width: 24px;
  height: 12px;
  padding: 10px;
  background: none;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: $color-hollywood-cerise;
    box-shadow: 0 6px 0 0 $color-hollywood-cerise, 0 12px 0 0 $color-hollywood-cerise;
  }
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__list-item {
  display: flex;
  align-content: center;

  @include vp-767 {
    width: 100%;
    margin-bottom: 10px;
  }

  a {
    display: inline-flex;
    vertical-align: baseline;
    text-transform: uppercase;
    padding: 9px 15px;
    margin: 0 2px;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;

    &:hover,
    &:focus-within {
      color: $color-hollywood-cerise;
    }

    @include vp-1023 {
      padding: 3px 10px;
      font-size: 14px;
    }

    @include vp-767 {
      display: flex;
      justify-content: center;
      width: 100%;
      font-size: 18px;
      padding: 10px 8px 8px;
    }
  }
}

[data-header].is-js {
  @include vp-767 {
    .header__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 20px clamp(15px, $padding-mobile, 30px) 20px;
    }

    .header__nav-toggle {
      display: block;
      margin-top: 4px;
    }

    .header__list {
      display: none;
    }

    .header-promo {
      padding: 124px 0 0;
    }

    h1,
    p {
      text-shadow: none;
    }
  }
}

[data-header].is-open {
  @include vp-767 {
    position: relative;

    &::before {
      content: attr(data-header-before);
      position: absolute;
      width: 100%;
      height: 100vh;
      background-color: $color-transparent;
    }

    .header__menu {
      position: absolute;
      right: 0;
      top: 0;
      height: 100vh;
      box-sizing: border-box;
      margin: 0;
      background: $color-alice-blue;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      overflow-y: auto;
      padding: 30px clamp(15px, $padding-mobile, 30px) 30px;
    }

    .header__logo {
      margin: 0 auto;
    }

    svg {
      color: $color-tangaroa;
    }

    .header__nav {
      position: relative;
      width: 100%;
      padding-left: 15px;
    }

    .header__nav-toggle {
      position: absolute;
      top: -27px;
      right: 13px;
      width: 20px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 9px;
        left: 1px;
        width: 18px;
        height: 2px;
        background-color: $color-default-black;
      }

      &::before {
        transform: rotate(45deg);
        box-shadow: none;
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    .header__list {
      display: flex;
      flex-direction: column;
      flex: auto;
      justify-content: center;
      margin: 24px 0 0 0;
    }

    a {
      justify-content: center;
      color: $color-default-black;

      &:hover {
        color: $color-hollywood-cerise;
      }
    }
  }
}
