.articles__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articles__list {
  margin: 0;
  padding: 20px;
  width: 100%;
  row-gap: 30px;
}

.articles__item {
  scroll-margin-top: 68px;
  padding: 20px;
  margin-bottom: 10px;
  background-color: $color-white-smoke;

  &:hover,
  &:focus-within {
    background: $color-default-white;
  }

  h3 {
    text-align: center;
  }

  p {
    padding: 10px;
    margin: 0 0 11px 0;
  }
}

.articles__buttons {
  display: flex;
  justify-content: space-around;

  @include vp-767 {
    flex-direction: column;
  }
}
