.container {
  padding: 20px clamp(29px, $padding-desktop, 103px) 20px;
  margin: 0 auto;
  max-width: 1366px;

  @include vp-1023 {
    padding: 20px clamp(10px, $padding-tablet, 45px) 20px;
  }

  @include vp-767 {
    padding: 20px clamp(15px, $padding-mobile, 30px) 20px;
  }
}
