@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "";

  font-display: swap;
  src: url("../fonts/.woff2") format("woff2");
}


@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src:
    url("../fonts/roboto-condensed-300.woff2") format("woff2"),
    url("../fonts/roboto-condensed-300.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/roboto-condensed-400.woff2") format("woff2"),
    url("../fonts/roboto-condensed-400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/roboto-condensed-700.woff2") format("woff2"),
    url("../fonts/roboto-condensed-700.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 600;
  src:
    url("../fonts/alumni-sans-600.woff2") format("woff2"),
    url("../fonts/alumni-sans-600.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/alumni-sans-700.woff2") format("woff2"),
    url("../fonts/alumni-sans-700.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 800;
  src:
    url("../fonts/alumni-sans-800.woff2") format("woff2"),
    url("../fonts/alumni-sans-800.woff") format("woff");
  font-display: swap;
}

$font-roboto-sans-serif: "Roboto Condensed", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
$font-alumni-sans-serif: "Alumni Sans", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
