*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 320px;
  // overflow-x: hidden;
}

html {
  color: $color-default-black;
  font-style: normal;
  font-weight: 400;
  font-size: $fz-default;
  line-height: 24px;
  font-family: $font-montserrat-sans-serif;
  min-width: 320px;
  scroll-behavior: smooth;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-alice-blue;
}

main {
  flex: auto;
}

img,
video {
  display: block;
  width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px $color-default-white;

  -webkit-text-fill-color: $color-default-black;
}

input,
textarea {
  border-radius: 0;

  &::placeholder {
    opacity: 1;
  }

  &:invalid {
    box-shadow: none;
  }
}

select {
  border-radius: 0;
}

// ie11 X removal
input {
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }
}

// chrome search X removal
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  appearance: none;
}

// input[number] arrows removal
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;

  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

// ios button \ inputs reset
select,
textarea,
input:matches([type="email"],
  [type="number"],
  [type="password"],
  [type="search"],
  [type="tel"],
  [type="text"],
  [type="url"]) {
  appearance: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: none;
}

h1 {
  padding: 0;
  margin: 20px;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;

  @include vp-1023 {
    font-size: 26px;
  }

  @include vp-767 {
    font-size: 24px;
  }
}

h2 {
  padding: 0;
  margin: 20px 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  text-transform: uppercase;
  border-bottom: 2px solid $color-hollywood-cerise;

  @include vp-1023 {
    font-size: 26px;
  }

  @include vp-767 {
    font-size: 24px;
  }
}

h3 {
  padding: 0;
  margin: 10px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;

  @include vp-1023 {
    font-size: 16px;
  }

  @include vp-767 {
    font-size: 14px;
  }
}

p {
  padding: 0;
  margin: 5px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: justify;
  text-indent: 20px;

  @include vp-1023 {
    font-size: 14px;
  }

  @include vp-767 {
    font-size: 12px;
  }
}

a {
  text-decoration: none;
  color: $color-default-black;
}
